<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifpb.academycalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Cadastrar -->
        <activity android:name=".CadastrarActivity">
            <intent-filter>
                <action android:name=".CadastrarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Calendario -->
        <activity android:name=".CalendarioActivity">
            <intent-filter>
                <action android:name=".CalendarioActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Add evento -->
        <activity android:name=".NovoEventoActivity">
            <intent-filter>
                <action android:name=".NovoEventoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Turmas -->
        <activity android:name=".TurmasActivity">
            <intent-filter>
                <action android:name=".TurmasActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Nova Turma -->
        <activity android:name=".NovaTurmaActivity">
            <intent-filter>
                <action android:name=".NovaTurmaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>